<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c288aa">  <td>22/12/07 12:26:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSelenium.SendProduct()[pri:0, instance:TestSelenium.TestSelenium@6253c26]">SendProduct</td> 
  <td>main@2083999882</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>22/12/07 12:26:07</td>   <td>-1679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSelenium.setUp()[pri:0, instance:TestSelenium.TestSelenium@6253c26]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2083999882</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>22/12/07 12:26:18</td>   <td>9019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSelenium.tearDown()[pri:0, instance:TestSelenium.TestSelenium@6253c26]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2083999882</td>   <td></td> </tr>
</table>
